# ========================
# .NET / Visual Studio
# ========================
bin/
obj/
out/
.vs/
*.user
*.suo
*.cache
*.log

# ========================
# Rider / VSCode
# ========================
.vscode/
.idea/

# ========================
# OS
# ========================
.DS_Store
Thumbs.db

# ========================
# Environment / Secrets
# ========================
.env
appsettings.Development.json
appsettings.Local.json

# ========================
# Build / Publish
# ========================
publish/
wwwroot/lib/

# ========================
# NuGet
# ========================
packages/

# ========================
# Angular / Node
# ========================
node_modules/
dist/
.angular/
.cache/

# ========================
# Angular Logs
# ========================
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# ========================
# Test / Coverage
# ========================
coverage/

# ========================
# Others
# ========================
*.tmp
*.bak
*.swp
